# Consolidate contributor identities for consistent shortlog output.

Kelvin Loh <kel85uk@gmail.com> kel85uk <kel85uk@gmail.com>

Joseph Weston <joseph@weston.cloud> Joseph Weston <joseph.weston08@gmail.com>

William PIAT <william.piat3@gmail.com> William PIAT <william.piat@safrangroup.com>
William PIAT <william.piat3@gmail.com> williampiat3 <32038421+williampiat3@users.noreply.github.com>

Dániel Varjas <dvarjas@gmail.com> Daniel Varjas <dvarjas@gmail.com>
